h1 {
  text-align: center;
}

h2 {
  text-align: center;
  padding-top: 5rem;
}

p {
  grid-column: 2/3;
}

.wide {
  background-color: var(--secondary);
  height: 30vw;
}

.wide p {
  text-align: center;
  padding-top: 2.5rem;
}

.clients {
  background-color: var(--primary);
  height: 70vw;
}

.cliets_logo{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: auto;
  gap: 40px;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 4vw;
}

@media (max-width: 1000px;) {
}
