
h1{
  text-align: center;
}

h2{
  text-align: center;
  padding-top: 5rem;
}

.wide{
  background-color: #3d4552;
  height: 25vw;
}

.wide p{
  text-align: center;
  padding-top: 10rem;
}

.clients{
  background-color: #DD282D;
  height: 60vw;
}