.section_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.col_left {
  grid-column: 1 / 2;
}

.col_right {
  grid-column: 2 / 2;
  text-align: left;
  padding: 20px;
  display: grid;
  place-content: center;
}

.info_oeverst {
  border-left: 2px solid var(--primary);
  padding-left: 25px;
}

.section_wrapper_1 {
  background-color: var(--primary);
}

.section_wrapper_1 h2 {
  text-align: center;
  padding-top: 6vw;
}

.team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: auto;
  gap: 40px;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 4vw;
  padding-bottom: 10vw;
}

.kontakt_kort {
  display: grid;
  place-items: center;
}

.kontakt_kort img {
  grid-area: 1 / 1;
  display: block;
  height: auto;
  width: 100%;
  padding: 1rem;
}

.visitkort {
  grid-area: 1 / 1;
  padding: 1rem;
  line-height: 1;
  z-index: 1;
  text-align: left;
}
