.col_left {
  display: none;
}

.col_right {
  text-align: left;
  padding: 70px;
  display: grid;
  place-content: center;
}

.info_oeverst {
  border-left: 2px solid var(--primary);
  padding-left: 25px;
  justify-content: center;
  font-style: normal;
}

.section_wrapper_1 {
  background-color: var(--primary);
  padding-bottom: 13vw;
}

.section_wrapper_1 h2 {
  text-align: center;
  padding-top: 13vw;
  padding-bottom: 13vw;
}

.kontakt_kort img {
  width: 100%;
}

.team {
  margin-left: 19vw;
  margin-right: 19vw;
}

.kontakt_kort {
  display: grid;
}

.visitkort {
  background-color: var(--accent);
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: var(--text);
  letter-spacing: 1vw;
  margin-bottom: 20vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

form label {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: var(--text);
  letter-spacing: 2px;
  margin-top: 10px;
}

label,
input,
textarea,
select,
button {
  display: block;
}

.form_felt {
  display: grid;
}

form {
  grid-column: 2/3;
  padding: 1.5rem;
}

button {
  margin-top: 1rem;
  border: 0;
  background: var(--primary);
  padding: 0.75rem;
  font-weight: 700;
  border-radius: 4px;
  color: #fff;
}

.form_section article {
  text-align: center;
}

.form_section {
  padding: 1rem;
  padding-top: 15vw;
}

@media (min-width: 700px) {
  .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .col_left {
    grid-column: 1 / 2;
    display: inline-block;
  }

  .col_right {
    grid-column: 2 / 2;
    text-align: left;
    padding: 20px;
    display: grid;
    place-content: center;
  }

  .info_oeverst {
    border-left: 2px solid var(--primary);
    padding-left: 25px;
    font-style: normal;
  }

  .section_wrapper_1 {
    background-color: var(--primary);
    padding-bottom: 1vw;
  }

  .section_wrapper_1 h2 {
    padding-top: 5vw;
    padding-bottom: 0;
  }

  .team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    height: auto;
    gap: 40px;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 4vw;
    padding-bottom: 6vw;
    margin-left: 0;
    margin-right: 0;
  }

  .kontakt_kort img {
    /* width: 100%; */
    object-fit: cover;
  }

  .kontakt_kort {
    display: grid;
    grid-template-rows: auto auto;
    /* place-content: center; */
    /* padding-top: 1vw; */
  }

  .visitkort {
    margin-bottom: 0;
    letter-spacing: 2px;
  }

  .visitkort h4 {
    padding-top: 1vw;
  }

  .form_section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    color: white;
    padding: 1.5rem;
    gap: 2rem;
    align-items: start;
    border-radius: 8px;
  }

  form {
    padding: 0;
  }

  .form_felt {
    gap: 5px;
  }

  .col_left_1 {
    grid-column: 2 / 3;
    display: inline-block;
  }

  .col_right_1 {
    grid-column: 2 / 3;
    text-align: left;
    padding: 30px;
    padding-top: 0;
    place-content: center;
  }
}
