.billeder img {
  padding: 0.5rem 2rem;
}

.text_indhold {
  padding: 2rem;
}

.text {
  padding: 1rem;
  margin: 1rem;
  line-height: 1.2;
}

.text p {
  margin-bottom: 0rem;
}

.text h3 {
  margin-top: 1.4rem;
}

.profil {
  padding: 2rem;
}

.profil .col_left {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  background-color: var(--secondary);
}

.profil .col_left h4 {
  padding-top: 1rem;
}

.profil .col_left p {
  padding-top: 2rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.profil .col_left .text {
  padding: 0;
  margin: 0;
}

.profil .col_left img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  clip-path: circle();
  max-width: 10rem;
  padding-top: 1rem;
}

.wide {
  background-color: var(--primary);
}

@media (min-width: 700px) {
  .billeder img {
    padding: 0rem 0rem;
  }

  .firma_text {
    display: grid;
    grid-template-columns: auto minmax(0, 400px) auto;
    grid-template-rows: 1fr;
  }

  .text_indhold {
    grid-area: 1/2;
    padding: 1rem;
  }

  .text_indhold h3 {
    margin-top: 2rem;
  }

  .text {
    margin: 1rem 1rem;
  }

  .firma_text {
    margin: 0rem 1rem;
  }

  .text h3 {
    margin-top: 1.8rem;
  }

  .section_wrapper {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
  }

  .section_wrapper .billeder {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section_wrapper .billeder .image_1 {
    grid-column: span 2;
    grid-row: 2;
  }

  .section_wrapper .billeder .image_2 {
    grid-column: span 2;
    grid-row: 4;
  }

  .section_wrapper .billeder .image_4 {
    grid-column: span 2;
    grid-row: 1;
  }

  .profil {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .profil .col_left {
    background-color: var(--secondary);
    text-align: center;
    padding: 1rem;
  }

  .profil .col_left img {
    max-width: 6rem;
  }

  .profil .col_left p {
    padding: 0;
    padding-top: 2rem;
  }

  .profil .col_right {
    margin: 40px;

    border-left: 2px solid var(--primary);
    padding-left: 25px;
    padding: 0 2rem;
  }

  .wide {
    background-color: var(--primary);
  }

  .wide p {
    grid-column: 2/3;
    text-align: center;
    padding: 2rem;
  }

  .narrow {
    grid-column: 2/3;
  }
}

/*@media (min-width: 768px) {
  .firma_text {
    margin: 1rem 1rem;
    padding: 2.5rem;
  }
}*/

@media (min-width: 1000px) {
  .text_indhold p {
    margin-bottom: 0.5rem;
  }

  /* .firma_text h3 {
    margin-top: 1.6rem;
  }

  .firma_text .text_indhold {
    padding: 4rem 13rem;
  }*/

  /* .firma_text .text_indhold {
    padding: 1rem;
  }

  .firma_text h3 {
    margin-top: 0;
  } */

  .section_wrapper .billeder {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section_wrapper .billeder .image_1 {
    grid-column: 1;
    grid-row: 1;
  }

  .section_wrapper .billeder .image_2 {
    grid-column: span 2;
    grid-row: 3;
  }

  .section_wrapper .billeder .image_4 {
    grid-column: 2/3;
    grid-row: 1;
  }

  .section_wrapper .billeder .image_5 {
    grid-column: 2;
    grid-row: 2;
  }

  .profil .col_left {
    margin: 1rem;
  }

  .wide {
    height: 16vw;
  }
}

/*
@media (min-width: 1200px) {
  .firma_text {
    margin: 3rem 3rem;
    padding: 1rem;
  }

  .firma_text h3 {
    margin-top: 2.4rem;
  }
}

@media (min-width: 1500px) {
  .firma_text {
    margin: 0rem 11rem;
    padding: 1rem;
    line-height: 1.5;
  }

  .firma_text h2 {
    margin-bottom: 3rem;
  }

  .firma_text h3 {
    margin-top: 2.4rem;
  }

  .firma_text p {
    margin-bottom: 0;
  }
}

*/

/*@media (min-width: 1600px) {
  .firma_text {
    margin: 11rem 11rem;
    padding: 3rem;
    line-height: 1.5;
  }

  .firma_text h2 {
    margin-bottom: 3rem;
  }

  .firma_text h3 {
    margin-top: 7rem;
  }

  .firma_text p {
    margin-bottom: 0;
    margin-top: 1rem;
  }

  .wide {
    height: 11vw;
  }
}*/
