
.p2, .p3,.p4,.p5{
    margin-top: 1rem;
  border: 0;
  background: var(--primary);
  padding: 0.75rem;
  font-weight: 700;
  border-radius: 4px;
  color: #fff;
 max-width: 22rem;
 margin-top:-2rem;

}

u{
    cursor: pointer;
}

h1{
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
   
 }
 p{
     margin-left:1.5rem;
     margin-right:1rem;
     line-height: 1.5;
 }
 
 h2{
     padding-bottom: 1.5rem;
     margin-left:1.5rem;
     padding-top:1.5rem;
 }
 .p1{text-align: center;
     padding-left: 3rem;
     padding-right: 3rem;
     padding-bottom: 1.5rem;
 }

@media (min-width: 1000px){
.section_wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:10rem;
    padding:1.5rem;
   
}

.section_1{
    grid-column: 2/3;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    line-height: 23px;
}

.section_2{
    grid-column: 2/3;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    line-height: 23px;
}

.text{
    grid-column: 2/3;
    line-height: 23px;
    padding-bottom: 2rem;
}

.col_left{
   grid-template-columns: 1fr 1fr;
}

.col_right{
    grid-template-columns: 1fr 1fr;
}

.col_left1{
    grid-template-columns: 1fr 1fr;
}

.col_right1{
    grid-template-columns: 1fr 1fr;

}


}