@media (min-width: 700px) {
  h1 {
    grid-area: 1/1;
    text-align: center;
    padding-top: 20rem;
  }

  h2 {
    text-align: center;
    padding-top: 20rem;
    padding-bottom: 3rem;
  }

  .text {
    grid-column: 2/3;
    padding-bottom: 20rem;
  }

  .text {
    grid-column: 2/3;
    padding-bottom: 20rem;
  }

  .hero {
    display: grid;
    height: 49.5vw;
  }

  .wide {
    background-color: var(--primary);
    height: 30vw;
  }

  video {
    grid-area: 1/1;
    width: 100%;
    object-fit: cover;
    object-position: 50% 100%;
    z-index: -1;
    opacity: 20%;
  }
}
